.research-container {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Avenir", sans-serif;
  position: relative;
  overflow: scroll;
  flex-direction: column;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 16px;
  cursor: pointer;
  background-color: #434343; 
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
}

.center-text {
  width: 80%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text p {
  font-family: "Avenir", sans-serif;
  width: 100%;
  font-size: 1.5rem;
  margin: auto;
  color: #696969;
}

.publications-container {
  font-family: "Avenir", sans-serif;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  /* padding-top: 5%; */
  height: 100%;
  margin: auto;
  overflow: scroll;
}

.publication {
  margin-top: 20px;
  padding: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.authors {
  font-size: 16px;
  color: #333;
}

b i {
  font-weight: bold;
}
.publication a {
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
}
.conference {
  margin-top: 3px;
  margin-bottom: 8px;
}

.publications-container h2 {
  margin-top: 20px;
}