/* General Styling for Navbar */
.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Website Name Styling */
.website-name {
  font-size: 30px;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
}

/* Right-Side Menu Styling */
.navbar-right {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

/* Individual Navbar Item Styling */
.navbar-item {
  list-style: none;
}

.navbar-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  transition: color 0.3s ease;
  font-weight: 500;
  font-family: "Avenir", sans-serif;
}

.navbar-link:hover {
  color: #f39c12;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    flex-direction: column;
    gap: 1rem;
  }
}